*.m4v filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
public/assets/svg/Pre-Footer*.svg filter=lfs diff=lfs merge=lfs -text
public/assets/svg/byjustinwu.svg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
