:root {}

.root {
  position: sticky;
  top: 0;
  height: 100vh;
  width: var(--sidebar-width);
  padding: 32px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.logo {
  display: block;
  width: 140px;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 8px;
}

.item {
  color: #bdbdbd;
  text-decoration: none;
  font-family: var(--font-sf-display);
  font-size: 16px;
  line-height: 1;
}

.active {
  color: #000000;
  font-weight: 700;
}
